{% extends 'item.html' %}
{% block title %}
Bed
{% endblock title %}


{% block body %}
<div class="container">
    <div class="col-md-12 p-mob-0">
        <h2 class="page-title" style="color: #0d6efd;text-Britannic Bold:center">BED ROOM FURNITURE</h2>
    <div>
<div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1595526051245-4506e0005bd0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmVkJTIwcm9vbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $4500</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
      
       <a class="Sofa-item " href="#" >
        <input type="image" src="https://images.unsplash.com/photo-1618773928121-c32242e63f39?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YmVkJTIwcm9vbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
    </a>
      <div class="card-body">
        <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $5646</p>
        <div class="d-grid gap-2">
          <button class="btn btn-secondary" type="button">Add to Cart</button>
         </div>

      <div class="d-flex justify-content-between align-items-center">
      </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        
  
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1591079381491-cb2c19ce7f15?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YmVkJTIwcm9vbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $3569</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>

        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card shadow-sm">
  
  
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1618221118493-9cfa1a1c00da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmVkJTIwcm9vbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $8797</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
 
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
      
        
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/flagged/photo-1573168710865-2e4c680d921a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGJlZCUyMHJvb218ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $5652</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1618221770758-01929bf5ed39?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGJlZCUyMHJvb218ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $5674</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>

   
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
  
    <div class="col">
      <div class="card shadow-sm">
        
  
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1617098900591-3f90928e8c54?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGJlZCUyMHJvb218ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $2443</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        
  
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1560185128-e173042f79dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGJlZCUyMHJvb218ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $9099</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>

        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
    
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGJlZCUyMHJvb218ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $1234</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>

        <div class="d-flex justify-content-between align-items-center">
        </div>
    </div>
  </div>\
</div>
<div class="col">
  <div class="card shadow-sm">
    <a class="Sofa-item " href="#" >
        <input type="image" src="https://images.unsplash.com/photo-1540518614846-7eded433c457?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fGJlZCUyMHJvb218ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
    </a>
    <div class="card-body">
      <p class="card-text" style="text-align:center">Chair<br> $5674</p>
      <div class="d-grid gap-2">
        <button class="btn btn-secondary" type="button">Add to Cart</button>
       </div>
      
 
      <div class="d-flex justify-content-between align-items-center">
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card shadow-sm">
    <a class="Sofa-item " href="#" >
        <input type="image" src="https://images.unsplash.com/photo-1616486532925-accce4930585?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGJlZCUyMHJvb218ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
    </a>
    <div class="card-body">
      <p class="card-text" style="text-align:center">Bornholm Engineered Wood Queen Size Box Storage Upholstered Bed In Finish<br> $6780</p>
      <div class="d-grid gap-2">
        <button class="btn btn-secondary" type="button">Add to Cart</button>
       </div>
      
 
      <div class="d-flex justify-content-between align-items-center">
      </div>
    </div>
  </div>
</div>

<div class="col">
  <div class="card shadow-sm">
    <a class="Sofa-item " href="#" >
        <input type="image" src="https://images.unsplash.com/flagged/photo-1590227000970-3ae55d48501e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGJlZCUyMHJvb218ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
    </a>
    <div class="card-body">
      <p class="card-text" style="text-align:center">Arabia Capra Solid Wood 6 Seater Dining Table With Set Of Chairs In Teak Finish<br> $6764</p>
      <div class="d-grid gap-2">
        <button class="btn btn-secondary" type="button">Add to Cart</button>
       </div>
      

      <div class="d-flex justify-content-between align-items-center">
        
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card shadow-sm">
    <a class="Sofa-item " href="#" >
        <input type="image" src="https://images.unsplash.com/photo-1560448205-4d9b3e6bb6db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzF8fGJlZCUyMHJvb218ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
    </a>
    <div class="card-body">
      <p class="card-text" style="text-align:center">Zephyr Solid Wood 2 Door Wardrobe In Teak Finish<br> $5674</p>
      <div class="d-grid gap-2">
        <button class="btn btn-secondary" type="button">Add to Cart</button>
       </div>

      <div class="d-flex justify-content-between align-items-center">
        
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card shadow-sm">
    <a class="Sofa-item " href="#" >
        <input type="image" src="https://images.unsplash.com/photo-1609766857041-ed402ea8069a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fGJlZCUyMHJvb218ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
    </a>
    <div class="card-body">
      <p class="card-text" style="text-align:center">Aquila Solid Wood Dining Bench In Semi Gloss Finish<br> $5674</p>
      <div class="d-grid gap-2">
        <button class="btn btn-secondary" type="button">Add to Cart</button>
       </div>
   
      <div class="d-flex justify-content-between align-items-center">
        
      </div>
    </div>
  </div>
</div>

<div class="col">
  <div class="card shadow-sm">
    <a class="Sofa-item " href="#" >
        <input type="image" src="https://images.unsplash.com/photo-1585821569331-f071db2abd8d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fGJlZCUyMHJvb218ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
    </a>
    <div class="card-body">
      <p class="card-text" style="text-align:center">Madonna Lounge Chair In Black Colour<br> $6757</p>
      <div class="d-grid gap-2">
        <button class="btn btn-secondary" type="button">Add to Cart</button>
       </div>
      
    
      <div class="d-flex justify-content-between align-items-center">
       
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card shadow-sm">
    <a class="Sofa-item " href="#" >
        <input type="image" src="https://images.unsplash.com/photo-1552858725-693709cc17c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fGJlZCUyMHJvb218ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
    </a>
    <div class="card-body">
      <p class="card-text" style="text-align:center">Napper Sofa - Single Seater<br> $5674</p>
      <div class="d-grid gap-2">
        <button class="btn btn-secondary" type="button">Add to Cart</button>
       </div>
    
      <div class="d-flex justify-content-between align-items-center">
        
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card shadow-sm">
    <a class="Sofa-item " href="#" >
        <input type="image" src="https://images.unsplash.com/photo-1628746234641-28eb583a51b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzZ8fGJlZCUyMHJvb218ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
    </a>
    <div class="card-body">
      <p class="card-text" style="text-align:center">Checkers 5 Tier Bookshelf in Walnut Colour<br> $6784</p>
      <div class="d-grid gap-2">
        <button class="btn btn-secondary" type="button">Add to Cart</button>
       </div>
    
    <div class="d-flex justify-content-between align-items-center">
        
    </div>  
  </div>
</div>
</div>
<div class="col">
<div class="card shadow-sm">
  <a class="Sofa-item " href="#" >
      <input type="image" src="https://images.unsplash.com/photo-1615874959474-d609969a20ed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmVkJTIwcm9vbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
  </a>
  <div class="card-body">
    <p class="card-text" style="text-align:center">Checkers 5 Tier Bookshelf in Walnut Colour<br> $1222</p>
    <div class="d-grid gap-2">
      <button class="btn btn-secondary" type="button">Add to Cart</button>
     </div>
    <div class="d-flex justify-content-between align-items-center">
      
  </div>
</div>
</div>

{% endblock body %}
    

     
    

        
  