{% extends 'item.html' %}
{% block title %}
Chairs
{% endblock title %}


{% block body %}
<div class="container">
    <div class="col-md-12 p-mob-0">
        <h2 class="page-title" style="color: #0d6efd;text-Britannic Bold:center">CHAIRS</h2>
    <div>
<div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1581539250439-c96689b516dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y2hhaXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $1244</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1598300042247-d088f8ab3a91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2hhaXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $4355</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          
        <div class="d-flex justify-content-between align-items-center">
        </div>
          </div>
        </div>
      </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1519947486511-46149fa0a254?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y2hhaXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $9888</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1600093328589-39ed150b382b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNoYWlyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $3452</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1549497538-303791108f95?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNoYWlyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $7788</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
         
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1556910591-c01184bb213a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nzh8fHNoZWx2ZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $4677</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
         
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1611464908623-07f19927264e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Y2hhaXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $3434</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1601392740426-907c7b028119?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGNoYWlyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $6000</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
      
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1615266876483-07e781e7befe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGNoYWlyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $3455</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://media.istockphoto.com/photos/wooden-chair-isolated-on-white-with-clipping-path-picture-id1334037436?b=1&k=20&m=1334037436&s=170667a&w=0&h=2G97-cIoE5XmLXc7kJpbwHmkJ3Vwt1yoZj1ArpAUH90=" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $6755</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
         
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1558403058-1ef771a16b1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGNoYWlyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $9332</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          
        <div class="d-flex justify-content-between align-items-center">
        </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1600694552566-14c3c46aafd5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGNoYWlyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $7854</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
       
         
        <div class="d-flex justify-content-between align-items-center">
        </div>
    </div>
  </div>
</div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1532943697453-56d80ef3493d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fGNoYWlyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
      <div class="card-body">
        <p class="card-text" style="text-align:center">Chair<br> $7896</p>
        <div class="d-grid gap-2">
          <button class="btn btn-secondary" type="button">Add to Cart</button>
         </div>
        
        <div class="d-flex justify-content-between align-items-center">
        </div>
      </div>
    </div>
  </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1520453714493-d85cdd7b033b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fGNoYWlyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
      <div class="card-body">
        <p class="card-text" style="text-align:center">Bornholm Engineered Wood Queen Size Box Storage Upholstered Bed In Finish<br> $4563</p>
        <div class="d-grid gap-2">
          <button class="btn btn-secondary" type="button">Add to Cart</button>
         </div>
 
        <div class="d-flex justify-content-between align-items-center">
        </div>
      </div>
    </div>
  </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1595532398750-5dec794392a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fGNoYWlyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
      <div class="card-body">
        <p class="card-text" style="text-align:center">Arabia Capra Solid Wood 6 Seater Dining Table With Set Of Chairs In Teak Finish<br> $6784</p>
        <div class="d-grid gap-2">
          <button class="btn btn-secondary" type="button">Add to Cart</button>
         </div>
  
        <div class="d-flex justify-content-between align-items-center">
          
        </div>
      </div>
    </div>
  </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1567538096621-38d2284b23ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80" style="border: double;" height="350" width="415"/>
      </a>
      <div class="card-body">
        <p class="card-text" style="text-align:center">Madonna Lounge Chair In Black Colour<br> $2343</p>
        <div class="d-grid gap-2">
          <button class="btn btn-secondary" type="button">Add to Cart</button>
         </div>
        
 
        <div class="d-flex justify-content-between align-items-center">
         
        </div>
      </div>
    </div>
  </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1594224457860-23bdb45f8e3d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDJ8fGNoYWlyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
      <div class="card-body">
        <p class="card-text" style="text-align:center">Madonna Lounge Chair In Black Colour<br> $6746</p>
        <div class="d-grid gap-2">
          <button class="btn btn-secondary" type="button">Add to Cart</button>
         </div>
 
        <div class="d-flex justify-content-between align-items-center">
         
        </div>
      </div>
    </div>
  </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1610341857041-1fb85125de76?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDR8fGNoYWlyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
      <div class="card-body">
        <p class="card-text" style="text-align:center">Napper Sofa - Single Seater<br> $6785</p>
        <div class="d-grid gap-2">
          <button class="btn btn-secondary" type="button">Add to Cart</button>
         </div>
 
        <div class="d-flex justify-content-between align-items-center">
          
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock body %}   