{% extends 'item.html' %}
{% block title %}
Dinning
{% endblock title %}


{% block body %}
<div class="container">
    <div class="col-md-12 p-mob-0">
        <h2 class="page-title" style="color: #0d6efd;text-Britannic Bold:center">DINING ROOM FURNITURE</h2>
    <div>
<div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">

      
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1553345080-7498775a7992?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTR8fGRpbmluZyUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $4000</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
              
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          
           <a class="Sofa-item " href="#" >
            <input type="image" src="https://images.unsplash.com/photo-1610177534644-34d881503b83?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTV8fGRpbmluZyUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
        </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $2000</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            
          <div class="d-flex justify-content-between align-items-center">
          </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            
      
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1560184897-0e5d96d86acd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDF8fGRpbmluZyUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $5777</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
             
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
      
      
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1617098591651-dd95032bc8bb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fGRpbmluZyUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $4666</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
              
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
          
            
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1582667379449-7b7c1c7ab582?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fGRpbmluZyUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $4660</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
      
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1602872030490-4a484a7b3ba6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fGRpbmluZyUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $3440</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
      
        <div class="col">
          <div class="card shadow-sm">
            
      
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1599327286062-40b0a7f2b305?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGRpbmluZyUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $6000</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            
      
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1610177567940-cad90e9fb85e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGRpbmluZyUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $8999</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
        
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1636138389529-d35a2a348dc1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGRpbmluZyUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $2300</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
        </div>
      </div>\
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="https://images.unsplash.com/photo-1606660023296-81d67734170a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZGluaW5nJTIwdGFibGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Chair<br> $6000</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="https://images.unsplash.com/photo-1604578762246-41134e37f9cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGluaW5nJTIwdGFibGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Bornholm Engineered Wood Queen Size Box Storage Upholstered Bed In Finish<br> $4637</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="https://images.unsplash.com/photo-1615066390971-03e4e1c36ddf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZGluaW5nJTIwdGFibGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Arabia Capra Solid Wood 6 Seater Dining Table With Set Of Chairs In Teak Finish<br> $5776</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="https://images.unsplash.com/photo-1617806118233-18e1de247200?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGRpbmluZyUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Zephyr Solid Wood 2 Door Wardrobe In Teak Finish<br> $2435</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="https://media.istockphoto.com/photos/all-ready-for-family-brunch-picture-id694313508?k=20&m=694313508&s=612x612&w=0&h=8DPdGf0tbE7ndWSnbMTP3NQFzjInzEVTAFcd6kORrIc=" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Aquila Solid Wood Dining Bench In Semi Gloss Finish<br> $8774</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
            
          </div>
        </div>
      </div>
    </div>
  
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="https://images.unsplash.com/photo-1554295405-abb8fd54f153?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGRpbmluZyUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Madonna Lounge Chair In Black Colour<br> $2435</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
           
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="https://images.unsplash.com/photo-1616486886892-ff366aa67ba4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGRpbmluZyUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Napper Sofa - Single Seater<br> $8778</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
          <div class="d-flex justify-content-between align-items-center">
            
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <a class="Sofa-item " href="#" >
            <input type="image" src="https://media.istockphoto.com/photos/modern-dining-table-with-two-chairs-picture-id1329279298?b=1&k=20&m=1329279298&s=170667a&w=0&h=jXMIHXf_Owkc6AXe7IzIp9iuhC7l726ju0YvsbhZJZc=" style="border: double;" height="350" width="415"/>
        </a>
        <div class="card-body">
          <p class="card-text" style="text-align:center">Checkers 5 Tier Bookshelf in Walnut Colour<br> $5635</p>
          <div class="d-grid gap-2">
            <button class="btn btn-secondary" type="button">Add to Cart</button>
           </div>
        <div class="d-flex justify-content-between align-items-center">
            
        </div>  
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <a class="Sofa-item " href="#" >
          <input type="image" src="https://images.unsplash.com/photo-1623150701757-fe9ba142bd30?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZGluaW5nJTIwdGFibGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
      </a>
      <div class="card-body">
        <p class="card-text" style="text-align:center">Checkers 5 Tier Bookshelf in Walnut Colour<br> $8754</p>
        <div class="d-grid gap-2">
          <button class="btn btn-secondary" type="button">Add to Cart</button>
         </div>
        <div class="d-flex justify-content-between align-items-center">
          
      </div>
    </div>
</div>

{% endblock body %}
         

         
        

            
      