{% extends 'item.html' %}
{% block title %}
Lamps
{% endblock title %}


{% block body %}
<div class="container">
    <div class="col-md-12 p-mob-0">
        <h2 class="page-title" style="color: #0d6efd;text-Britannic Bold:center">LAMPS</h2>
    <div>
<div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1534797207621-0af420f6c01b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Njl8fGxhbXBzJTIwZnVybml0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=6000" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $9584</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1573469635233-7974cb21a915?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fGxhbXBzJTIwZnVybml0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $6772</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
              </div>
            </div>
          </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1579888028917-47462bb03ca9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzd8fGxhbXBzJTIwZnVybml0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $2330</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1639241557011-e8f9fd661991?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTN8fGxhbXBzJTIwZnVybml0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $2988</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1565346141524-4bdcdcf2ff61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTB8fGxhbXBzJTIwZnVybml0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $3400</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1517991104123-1d56a6e81ed9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTAwfHxsYW1wcyUyMGZ1cm5pdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $5730</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1625957157805-24764536466a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA4fHxsYW1wcyUyMGZ1cm5pdHVyZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $858</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1551380701-5dd33d5b5d06?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dGFibGUlMjBsYW1wfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $4662</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1609847214283-8bad801da710?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHRhYmxlJTIwbGFtcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $6884</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1617363020293-62faac14783d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHRhYmxlJTIwbGFtcHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $1000</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1650116196251-94984f151ddf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGxhbXBzJTIwZnVybml0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $2555</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
        </div>
      </div>
    </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1606660023296-81d67734170a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZGluaW5nJTIwdGFibGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Chair<br> $4666</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1455792244736-3ed96c3d7f7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGxhbXBzJTIwZnVybml0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Bornholm Engineered Wood Queen Size Box Storage Upholstered Bed In Finish<br> $5772</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1560448204-603b3fc33ddc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGxhbXBzJTIwZnVybml0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Arabia Capra Solid Wood 6 Seater Dining Table With Set Of Chairs In Teak Finish<br> $3566</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
              
            </div>
          </div>
        </div>
      </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1507473885765-e6ed057f782c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bGFtcHMlMjBmdXJuaXR1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Madonna Lounge Chair In Black Colour<br> $3452</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
             
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1646107543597-e95b90ba4081?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGxhbXBzJTIwZnVybml0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Madonna Lounge Chair In Black Colour<br> $8966</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
             
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1484101403633-562f891dc89a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c29mYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Napper Sofa - Single Seater<br> $2355</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
              
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1513506003901-1e6a229e2d15?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bGFtcHMlMjBmdXJuaXR1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Checkers 5 Tier Bookshelf in Walnut Colour<br> $5469</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock body %}

          