{% extends 'item.html' %}
{% block title %}
Tables
{% endblock title %}


{% block body %}
<div class="container">
    <div class="col-md-12 p-mob-0">
        <h2 class="page-title" style="color: #0d6efd;text-Britannic Bold:center">TABLES</h2>
    <div>
<div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1604061986761-d9d0cc41b0d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZnVybml0dXJlJTIwdGFibGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $4673</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
              </div>
            </div>
          </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
        <input type="image" src="https://images.unsplash.com/photo-1610177534644-34d881503b83?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTV8fGRpbmluZyUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
    </a>
      <div class="card-body">
        <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $3611</p>
        <div class="d-grid gap-2">
          <button class="btn btn-secondary" type="button">Add to Cart</button>
         </div>
      <div class="d-flex justify-content-between align-items-center">
      </div>
        </div>
      </div>
    </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1486946255434-2466348c2166?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZnVybml0dXJlJTIwdGFibGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $5783</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1581374820583-317d45555a82?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZnVybml0dXJlJTIwdGFibGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $2811</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1634018940067-b8b58c6c6fa0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZnVybml0dXJlJTIwdGFibGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $1983</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1499933374294-4584851497cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZnVybml0dXJlJTIwdGFibGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $8912</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1499933374294-4584851497cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZnVybml0dXJlJTIwdGFibGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $1200</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1517705008128-361805f42e86?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGZ1cm5pdHVyZSUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $3099</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1565374235393-6fe32a07cc86?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGZ1cm5pdHVyZSUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
            <div class="card-body">
              <p class="card-text" style="text-align:center">Left Aligned 3 seater + Chaise<br> $5666</p>
              <div class="d-grid gap-2">
                <button class="btn btn-secondary" type="button">Add to Cart</button>
               </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
        </div>
      </div>
    </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1533090481720-856c6e3c1fdc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fGZ1cm5pdHVyZSUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Chair<br> $2499</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1594809512566-021e8369702a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fGZ1cm5pdHVyZSUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Bornholm Engineered Wood Queen Size Box Storage Upholstered Bed In Finish<br> $2633</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1487600849525-7d8eccadd679?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fGZ1cm5pdHVyZSUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Arabia Capra Solid Wood 6 Seater Dining Table With Set Of Chairs In Teak Finish<br> $1299</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
              
            </div>
          </div>
        </div>
      </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1603204077167-2fa0397f591f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fGZ1cm5pdHVyZSUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Zephyr Solid Wood 2 Door Wardrobe In Teak Finish<br> $2399</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
              
            </div>
          </div>
        </div>
      </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1542089363-bba089ffaa25?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fGZ1cm5pdHVyZSUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Aquila Solid Wood Dining Bench In Semi Gloss Finish<br> $5600</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
          </style>
            <div class="d-flex justify-content-between align-items-center">
              
            </div>
          </div>
        </div>
      </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDJ8fGZ1cm5pdHVyZSUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Madonna Lounge Chair In Black Colour<br> $7100</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
             
            </div>
          </div>
        </div>
      </div>

        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1592923750193-0caa23a10e1f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDd8fGZ1cm5pdHVyZSUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Napper Sofa - Single Seater<br> $4550</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
              
            </div>
          </div>
        </div>
      </div>  
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1628192438277-71ba61e53c65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fGZ1cm5pdHVyZSUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Checkers 5 Tier Bookshelf in Walnut Colour<br> $3400</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
          <div class="d-flex justify-content-between align-items-center">
              
          </div>  
        </div>
      </div>
      </div>
        <div class="col">
          <div class="card shadow-sm">
            <a class="Sofa-item " href="#" >
              <input type="image" src="https://images.unsplash.com/photo-1567016530961-54fd42f2d51f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDN8fGZ1cm5pdHVyZSUyMHRhYmxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" style="border: double;" height="350" width="415"/>
          </a>
          <div class="card-body">
            <p class="card-text" style="text-align:center">Checkers 5 Tier Bookshelf in Walnut Colour<br> $2344</p>
            <div class="d-grid gap-2">
              <button class="btn btn-secondary" type="button">Add to Cart</button>
             </div>
            <div class="d-flex justify-content-between align-items-center">
             </div>
            </div>
          </div>
    
{% endblock body %}